*~
atlassian*
.checkstyle
*.class
.classpath
deployments
.DS_Store
*.ear
.factorypath
.fbExcludeFilterFile
hs_err_pid*
.idea/
*.iml
*.ipr
*.iws
*.jar
.metadata/
.mtj.tmp/
.project
.settings/
target
target/
tools/docs/*
tools/rhdm-*
tools/rhpam-*
venv/
*.war
tools/openshift-template-validator/openshift-template-validator
