*~
atlassian*
.checkstyle
*.class
.classpath
deployments
.DS_Store
*.ear
.factorypath
.fbExcludeFilterFile
hs_err_pid*
.idea/
*.iml
*.ipr
*.iws
.metadata/
.mtj.tmp/
.project
.settings/
target
target/
tools/gen-template-doc/docs/*
tools/gen-template-doc/rhdm-*
tools/gen-template-doc/rhpam-*
venv/
tools/openshift-template-validator/openshift-template-validator
jboss-kie-repo-certificates/
